{% extends 'pi_main/base.html' %}

{% block browsertitle %}Page not found{% endblock %}

{% block jumbotron %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1><img src="/static/tc_main/img/logo-small-gecko.png" class="course-logo-header img-responsive" /> Page not found</h1>
      </div>
    </div>
{% endblock %}

{% block content %}

<h1>Page not found</h1>

<p>Sorry, but the requested page could not be found.</p>

{% endblock %}
