{% extends 'pi_main/base.html' %}

{% block metatitle %}About{% endblock %}
{% block metakeywords %}recipes, healthy, lifestyle{% endblock %}
{% block metadescription %}About the site.{% endblock %}

{% block content %}
<h1> About the site</h1>
<p>This website is powered by The Raspberry Pi Cookbook, a Django-based framework for recipe listing made for ARM/Low-Resource machines. You can find more out about that project at <a href="http://rpicookbook.uk">www.rpicookbook.uk</a></p> 
{% endblock %}
